<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Twitter</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-4 mt-3">
          <h1>My Feed</h1>
        </div>
        <div class="col-4">
          <a class="btn btn-primary mt-3 float-right" href="http://127.0.0.1:8000/" role="button">Logout</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">

          <form method="POST" action="/home/">
            {% csrf_token %}
            <input name="tweetBody" class="form-control" placeholder="What's on your mind?">
            <input class="btn btn-primary m-2 mb-4" type="submit" value='Tweet'>
          </form>

          {% for tweet in tweets %}
            <div class="card mb-3">
              <div class="card-body">
                <h5><a class="text-dark" href="{% url 'profile_view' tweet.author%}">@{{tweet.author}}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{tweet.timeStamp}}</h6>
                <p class="card-text">{{tweet.body}}</p>
                <form method="POST" action="{% url 'like_view' tweet.id%}">
                  {% csrf_token %}
                  <button class="btn btn-primary sm-4" type="submit" name="tweet_ID" value='{{ tweet.id }}'> Like </button>
                </form>
                <p class="card-text m-2 mb-0 text-muted">{{tweet.total_likes}} Likes</p>
              </div>
            </div>
          {% endfor %}
        </div>
          
        <div class="col-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-header">Hashtags</h5>
              <ul class="list-group list-group-flush">
                {% for hashtag in hashtags%}
                <li class="list-group-item"><a href="{% url 'hashtag_view' hashtag.title%}" class="card-link">#{{hashtag.title}}</a></li>
                {% endfor %}
              </ul>
              
            </div>
          </div>
        </div>
    </div>

  </body>
</html>